html, body {
    height: fit-content;
}

body{
    margin: 0;
    background-size: 900% 900%;
    background-image: linear-gradient(45deg, #5f2c82, #49a09d);
    animation: gradient 15s ease infinite;
}

main {
    margin-top: 65px;
    flex: 1 1 auto;
}

#encryptDecryptTitle {
    text-align: center;
    font-size: 24px;
}

h1, label, p, li{
    font-family: monospace;
    color: azure;
    font-size: 14px;
}

textarea {
    resize: none;
    width: 90%;
    height: 200px;
}

textarea,
#textOriginal,
#textEdited,
#copyEditedButton,
#copyOriginalButton {
    margin: 10px;
}

.EncryptionControl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}

#selectProcedure,
#chooseEncryptKey,
#resetResultsButton,
#submitButton,
#submitGButton,
#copyEditedButton,
#copyOriginalButton {
    margin: 1px 10px;
    border-radius: 5px;
    height: 25px;
    font-family: monospace, Helvetica;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
}

.UseNumbers, .UseSpecialSymbols, .UseUppercaseLetters, .PasswordLength{
    cursor: default;
    font-weight: none;
    margin: 1px 10px;
    height: 25px;
    font-family: monospace, Helvetica;
}

#UseNumbers, #UseSpecialSymbols, #UseUppercaseLetters{
    cursor: pointer;
}

#resetResultsButton,
#submitButton,
#copyEditedButton,
#copyOriginalButton {
    width: 80px;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

form {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 10px 18px 10px 18px;
    background: #4B4B4B;
}

::selection {
    color: #b3c6ff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #7c85ef;
}

.TextArea {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#ta-ro,
#ta-wo {
    border-radius: 8px;
}

#ta-ro {
    background-color: #b6b6b6;
    cursor: default;
}

#textEdited,
#textOriginal {
    font-weight: bold;
}

#copyEditedButton,
#copyOriginalButton {
    margin: 8px auto;
}

.EncryptionHelp {
    padding: 15px 10px 10px 10px;
}

details {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

summary {
    font-family: monospace, Helvetica;
    font-weight: bold;
    cursor: pointer;
    color: azure;
}

#needHelpTitle{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 10px;
}

.instruction{
    border: 3px solid #ccc;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#UseNumbers, #UseSpecialSymbols, #UseUppercaseLetters{
    align-items: center;
}

.PGlabels{
    margin: 0;
    vertical-align: middle;
}